<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    <script th:inline="javascript">
        const pageInfo=[[${pageInfo}]];
    </script>
    <style>
        body{
            position: absolute;
            top:0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index:0;
        }
        #picture{
        }
    </style>
</head>
<body>
    <button id="return-button" class="btn btn-primary" onclick="window.history.back()" style="z-index:2;">返回</button>
    <div id="picture">
        <img th:src="${imgSrc}">
    </div>
    <div class="control-panel" style="z-index: 1;">
        <div class="control-left" onclick="PageLast(pageInfo,document.URL.substring(0,document.URL.indexOf('?')) + '?type=ILLUSTRATION&page=#{page}')"></div>
        <div class="control-right" onclick="PageNext(pageInfo,document.URL.substring(0,document.URL.indexOf('?')) + '?type=ILLUSTRATION&page=#{page}')"></div>
    </div>
</body>
</html>
