<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${resource.name}"></title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    </style>
</head>
<body>
</body>
<script>
</script>
</html>
